h1 {
 
  color: rgb(255, 157, 214)
}

h1, h3 {
  font-family: 'Luckiest Guy', cursive;
}
.card {
    background: #fff;
    border-radius: 2px;
    height: 185px;
    margin: .5rem;
    position: relative;
    width: 285px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }

  img {
    height: 192px;
    width: 450px

  }
.img-container {

    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 100%
  }
/*   
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  } */
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  

  

  